{{#partial "content"}}

    <h1>Job List</h1>

    {{#if allJobs}}
        {{#each allJobs}}
         <div class="well">
            <p>Jobs {{id}}:</p>
               <ul>
                   <li>{{title}}</li>
                   <li>{{location}}</li>
                   <li>{{employer}}</li>
                   <li>{{description}}</li>
                   <li>{{contact}}</li>
                   <li>{{salary}}</li>
                   <li>Created At: {{createdAt}}</li>
               </ul>
            <p>{{ title }} <a href="/jobOpenings/{{id}}">read more...</a></p>
         </div>
        {{/each}}
    {{else}}
        <p>No jobs added!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}